.cover__link {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  text-decoration: none;
}

.cover__link:hover {
  cursor: pointer;
}
