.main-nav__list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

@media screen and (max-width: 740px) {
  .main-nav__list {
    width: 100%;
    display: block;
    margin-bottom: 3rem;
  }
}
