.lang-list__link {
  font-family: "Inter", Arial, san-serif;
  font-size: 1.5rem;
  line-height: 1.17;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
}

.lang-list__link:hover,
.lang-list__link:focus {
  opacity: 0.5;
}

@media screen and (max-width: 767px) {
  .lang-list__link {
    font-size: 18px;
    line-height: 20px;
  }
}
