.header {
  padding: 28px 3.75% 0;
  margin: 0 auto 56px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1279px) {
  .header {
    padding: 28px 4.68% 0;
    margin-bottom: 48px;
  }
}

@media screen and (max-width: 1023px) {
  .header {
    padding: 28px 3.125% 0;
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding: 16px 5% 0;
    margin-bottom: 40px;
  }
}
