.footer__copyright {
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
}

@media screen and (max-width: 1279px) {
  .footer__copyright {
    max-height: 16px;
  }
}
