.lead__subtitle {
  max-width: 640px;
  margin: 0;
  margin-bottom: 64px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 3em;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
}

@media screen and (max-width: 1279px) {
  .lead__subtitle {
    margin-bottom: 56px;
  }
}

@media screen and (max-width: 767px) {
  .lead__subtitle {
    margin-bottom: 40px;
    max-width: 288px;
    font-size: 1rem;
    line-height: 1.25;
  }
}
