.main-nav__link {
  font-family: "Inter", Arial, sans-serif;
  font-size: 1rem;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
}

.main-nav__link:hover,
.main-nav__link:focus {
  opacity: 0.5;
}

@media screen and (max-width: 1279px) {
  .main-nav__link {
    display: block;
    max-height: 18px;
  }
}

@media screen and (max-width: 740px) {
  .main-nav__link {
    font-size: 1.5rem;
    line-height: 1;
  }
}
