.card-place__image {
  max-width: 460px;
  width: 100%;
  grid-area: img;
}

@media screen and (max-width: 1279px) {
  .card-place__image {
    max-width: 440px;
  }
}

@media screen and (max-width: 1023px) {
  .card-place__image {
    max-width: 340px;
  }
}

@media screen and (max-width: 767px) {
  .card-place__image {
    display: block;
    max-width: 65%;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 500px) {
  .card-place__image {
    max-width: 100%;
  }
}
