.places__item {
  margin-bottom: 80px;
}

.places__item:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 1023px) {
  .places__item {
    margin-bottom: 74px;
  }
}

@media screen and (max-width: 767px) {
  .places__item {
    margin-bottom: 3rem;
  }
}
